# 1. Force Excel and CSV files to be counted
*.xlsx linguist-language=Excel
*.xlsx linguist-detectable=true
*.csv linguist-language=Excel
*.csv linguist-detectable=true

# 2. Force Python to be counted (and ignore Jupyter Notebooks if you have them)
*.py linguist-detectable=true
*.ipynb linguist-detectable=false

# 3. HIDE other languages (like CSS or HTML) if they are currently "winning"
*.css linguist-detectable=false
*.html linguist-detectable=false
